[buildout]
extends = versions.cfg
parts =
    zope2
    instance
    zopepy
    test
extensions = buildout.dumppickedversions
develop = .
versions = versions
newest = false

[versions]
# Unpin these packages so that the fake-eggs from the zope2 system are used
zope.configuration = 
zope.app.container = 
ZODB3 = 
zope.annotation = 
zope.interface = 
zope.app.component = 
zope.app.security = 
zope.lifecycleevent = 
zope.viewlet = 
zope.app.authentication = 
zope.testbrowser = 
zope.app.pagetemplate = 
zope.traversing = 
zope.security = 
zope.schema = 
zope.formlib = 
zope.event = 
zope.deferredimport = 
zope.deprecation = 
zope.app.schema = 
zope.app.wsgi = 
zope.app.rotterdam = 
zope.app.basicskin = 
zope.app.principalannotation = 
zope.app.zopeappgenerations = 
zope.app.locales = 
zope.app.i18n = 
zope.app.form = 
zope.app.interface = 
zope.app.generations = 
zope.publisher = 
zope.app.content = 
zope.app.dependable = 
zope.modulealias = 
zope.location = 
zope.i18nmessageid = 
zope.exceptions = 
zope.pagetemplate = 
zope.datetime = 
zope.contenttype = 
zope.app.publication = 
pytz = 
zope.hookable = 
zope.proxy = 

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.10.8/Zope-2.10.8-final.tgz
skip-fake-eggs =
   zope.app.publisher
   zope.component
   zope.i18n
   zope.testing
# We use the zope.interface version included in Zope 2.10 because Plone,
# Archetypes and some other eggs use the old isImplementedByInstancesOf
# and isImplementedBy removed in zope.interface >= 3.3

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    five.grok
zcml =
    five.grok-meta
    five.grok
products =

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
extra-paths = ${zope2:location}/lib/python
defaults = ['-m', 'five.grok', '--tests-pattern', '^f?tests$', '-v']
